<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886089944591-a01etjmgqit1kqap8866tj3tq6g7rjcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886089944591-a01etjmgqit1kqap8866tj3tq6g7rjcn</string>
	<key>API_KEY</key>
	<string>AIzaSyCTyFrSzOm8gG91TbAWs4tKhB3OGnFQHEA</string>
	<key>GCM_SENDER_ID</key>
	<string>886089944591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>projectstudyroot-cda08</string>
	<key>STORAGE_BUCKET</key>
	<string>projectstudyroot-cda08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886089944591:ios:1848539720ad5a43c31d7a</string>
</dict>
</plist>